@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
}

body{
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(230, 17%, 14%);
}

.navbar{
    padding: 30px 0px    ;
    border-bottom: 1px solid white  ;
}

.wrapper{
    width: 75vw;
    margin: auto;
}
.wrapper1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-nav{
    display: flex;
    align-items: center;
}

.left-nav h4{
    margin-bottom: 10px ;
}

.left-nav h4 span{
    font-size: 30px;
    color: hsl(146, 68%, 55%);
    font-weight: bold;
}

.left-nav ul{
    margin-top: 10px;
    align-items: center;
    display: flex;
}

.left-nav ul li{
    background-color: white;
    opacity: 90%;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    padding: 5px 15px;
    margin-left: 15px;
}

.left-nav ul li:hover{
    background-color:  hsl(146, 68%, 45%);
    color: white;
}
.right-nav{
    display: flex;
    align-items: center;
}

.right-nav ul{
    align-items: center;
    gap: 10px ;
    display: flex;
}

.right-nav i{
    margin-bottom: 12px;
}
.right-nav ul li{
    margin-left: 5px;
}

.right-nav ul li:hover{
    color: hsl(146, 68%, 45%);
}


.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border: 2px solid white;
}


.containers{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    margin-bottom: 40px;
}

.container2{
    display: flex;
    flex-direction: column;
    gap: 20px ;

}

.container1 , .container21 , .container22  , .container3{
    padding: 20px ;
    background-color: white ;
    gap: 20px  ;
    align-items: center;
    width: 25vw;
    border-radius: 20px ;
    color: black;
    text-align: center;
}

/* .container21 , .container22{
    gap: 20px;
} */

#image1 , #image2{
    width: 20vw;
    height: 40%;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

h4{
    font-weight: bold;
}

.active h4{
    margin-top: 20px;
    font-size: 18px;
}
.active p{
    margin-top: 20px;
    font-size: 14px;
}

.active h6{
    border: 3px solid hsl(146, 68%, 45%) ;
    margin-top: 10px;
    font-weight: 900 ;
    font-size: 12px;
    padding: 5px ;
    letter-spacing: 1px;
}

.active a{
    font-weight: bold;
    text-decoration: none;
}

.carousel-control-next {
    right: -22px;
} 

.carousel-control-prev {
    left: -22px;
}

.carousel-inner{
    padding: 10px 20px;
}

